<div id="contact" class="contact-section section-padding ">
  <h1 class="text-center text-white section-heading">Contact</h1>

  <div class="contact-body">
    <div class="container">
      <div class="row content justify-content-center pb-3">
        <div class="col-xs-12 col-md-4">
          <div class="inner-box text-center social-page">
            <h2 class="service-heading">
              Facebook Page
              <i class="fa-brands fa-facebook ms-2"></i>
            </h2>
            <p class="service-info text-center">
              <a href="https://facebook.com/TECANETGlobal/" class="text-white text-decoration-none">@TECANETGlobal</a>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="inner-box text-center">
            <h2 class="service-heading">
              Email <i class="fa-regular fa-envelope ms-2"></i>
            </h2>
            <p class="service-info text-center">
              <a href="mailto:{{ site.email }}" class="text-white text-decoration-none">
                {{ site.email }}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <p class="mb-0 text-center font-weight-lighter">
    &copy; {{ site.year }} {{ site.title }} 2023.
    <span class="mb-block"></span>Developed by
    <a href="http://codetoearn.dev/" class="text-white no-decoration">Code To Earn.</a>
    All rights reserved.
  </p>
</footer>
