<div class="about-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="content-container h-100 d-flex flex-column justify-content-center items-align-center">
          <h1 class="title font-secondary">
            Welcome to <span class="highlight">TECANET!</span>
          </h1>
          <h3 class="sub-title">
            Tamu (Gurung) Educational and Career Advancement Network Nepal (TECANET)
            is an informal platform to share and exchange experiences and
            expertise in an effort to address the challenges faced by the
            majority of Tamu youth in their education and career advancement.
          </h3>
          <a href="/about/">Read More ...</a>
        </div>
      </div>
      <div class="col-md-6">
        <img src="{{ site.image_base_url }}/banner-img.jpg"
          alt="Tamu Student Council" class="img-fluid rounded shadow">
      </div>
    </div>
  </div>
</div>
