<div class="mission-vision-section pb-5">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-3">
        <div class="card mission-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-bullseye"></i>
          </div>
          <div class="card-body">
            <h1 class="mission-card-title">
              हाम्रो लक्ष्य
            </h1>
            <p class="mission-card-text">
              समावेशी, समतामूलक र लोकतान्त्रिक समाज निर्माण गर्नु
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="card mission-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-eye"></i>
          </div>
          <div class="card-body">
            <h1 class="mission-card-title">
              हाम्रो उद्देश्य
            </h1>
            <p class="mission-card-text">
              गुरुङहरु को अधिकार र पहिचानको वकालत गर्नु
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
